<a href="https://colab.research.google.com/github/gmitt98/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [87]:
import tensorflow as tf

In [88]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [89]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [90]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace = True)

In [91]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [92]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [93]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<100].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [94]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [95]:
# You may find it helpful to look at CLASSIFICATION value counts >1
value_counts_classification = application_df['CLASSIFICATION'].value_counts()

In [96]:
vc_list = value_counts_classification.index[value_counts_classification > 1]
for i in vc_list:
  print(i, value_counts_classification[i])

C1000 17326
C2000 6074
C1200 4837
C3000 1918
C2100 1883
C7000 777
C1700 287
C4000 194
C5000 116
C1270 114
C2700 104
C2800 95
C7100 75
C1300 58
C1280 50
C1230 36
C1400 34
C7200 32
C2300 32
C1240 30
C8000 20
C7120 18
C1500 16
C1800 15
C6000 15
C1250 14
C8200 11
C1238 10
C1278 10
C1235 9
C1237 9
C7210 7
C2400 6
C1720 6
C4100 6
C1257 5
C1600 5
C1260 3
C2710 3
C0 3
C3200 2
C1234 2
C1246 2
C1267 2
C1256 2

In [97]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = value_counts_classification.index[value_counts_classification < 100]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [98]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_list = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
categorical_list

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [99]:
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [100]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=1)

In [101]:
print(len(dummies))
print(len(application_df))
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

34299
34299
27439
6860
27439
6860

In [102]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [103]:
X_train_scaled[0]

array([ 0.01045683, -0.03095675, -0.06017531, -0.1248287 , -0.17922996,
        0.5200401 , -0.2177384 , -0.18917119, -0.192759  , -0.14643132,
       -0.15002639, -0.06459105, -0.92621703, -0.0431524 ,  0.93255087,
       -0.03196072, -0.01045683, -0.02002623,  0.99371486, -0.40606734,
       -0.0589428 , -0.09173889, -0.46568343, -0.24106748, -0.05639818,
       -0.2430079 , -0.0751274 , -0.05672242, -0.15416512, -0.14061226,
       -0.10549274, -0.0662763 , -0.01045683,  0.47129428, -0.44655824,
       -0.65552292, -0.11802954, -0.03573774,  0.67902549,  0.63716135,
       -0.14989936, -0.12452723, -0.33110845, -0.08238929, -0.16855186,
       -0.34918231, -0.06401961, -0.07488171,  0.02832705, -0.02832705])

In [104]:
len(X_train_scaled)

27439

In [105]:
X_train_scaled.shape[1]

50

In [106]:
len(X_train[0])

50

In [107]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_count = len(X_train_scaled[0]) # this is the number of columns in my scaled data

layer_1_nodes = 15
layer_2_nodes = 15
layer_3_nodes = 15
layer_4_nodes = 15
layer_5_nodes = 15

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=layer_1_nodes, input_dim = input_features_count, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=layer_2_nodes, activation = "relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=layer_3_nodes, activation = "relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=layer_4_nodes, activation = "relu"))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=layer_5_nodes, activation = "relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 15)                765

 dense_13 (Dense)            (None, 15)                240

 dense_14 (Dense)            (None, 15)                240

 dense_15 (Dense)            (None, 15)                240

 dense_16 (Dense)            (None, 15)                240

 dense_17 (Dense)            (None, 1)                 16

=================================================================
Total params: 1,741
Trainable params: 1,741
Non-trainable params: 0
_________________________________________________________________

In [108]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [109]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=15)

Epoch 1/15
858/858 [==============================] - 4s 2ms/step - loss: 0.5879 - accuracy: 0.7055
Epoch 2/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7285
Epoch 3/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7306
Epoch 4/15
858/858 [==============================] - 3s 3ms/step - loss: 0.5486 - accuracy: 0.7324
Epoch 5/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7315
Epoch 6/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7336
Epoch 7/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7329
Epoch 8/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7341
Epoch 9/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7345
Epoch 10/15
858/858 [==============================] - 4s 5ms/step - loss: 0.5438 - accuracy: 0.7349
Epoch 11/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7336
Epoch 12/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7338
Epoch 13/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7346
Epoch 14/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7360
Epoch 15/15
858/858 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7345

In [110]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5593 - accuracy: 0.7245 - 439ms/epoch - 2ms/step
Loss: 0.5592899322509766, Accuracy: 0.7244898080825806

In [111]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

In [112]:
from google.colab import files
files.download('AlphabetSoupCharity.h5')